# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtualenv
.venv/
venv/
env/

# Local config & runtime data
config.yaml
data/

# Music leftovers (if any)
cache/
nico_cookies.txt

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
